<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.3" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net40" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net40" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net40" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="NPOI" version="2.4.0" targetFramework="net40" />
  <package id="NSAPConnector_x64" version="1.0.2" targetFramework="net45" />
  <package id="NSAPConnector_x86" version="1.0.2" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net40" />
  <package id="SAPDotNetConnector3" version="0.3.0" targetFramework="net45" />
  <package id="SAPExtractorDotNET" version="1.0.5.1" targetFramework="net45" />
  <package id="SAPMiddlewareConnector" version="3.0.2.0" targetFramework="net45" />
  <package id="SAPNCo.x64" version="3.0.13.1" targetFramework="net45" />
  <package id="SAPNCo.x86" version="3.0.13.1" targetFramework="net45" />
  <package id="SharpSapRfc" version="2.0.2" targetFramework="net45" />
  <package id="SharpSapRfc.Plain.x64" version="2.0.2" targetFramework="net45" />
  <package id="SharpSapRfc.Plain.x86" version="2.0.2" targetFramework="net45" />
  <package id="SharpSapRfc.Soap" version="2.0.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>