<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AP_StockPromotion_V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>

  </configSections>



  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!-- DEV -->
          <!--<add NAME="DEV" USER="apabap04" PASSWD="test300" CLIENT="300" SYSID="APD" LANG="EN" ASHOST="192.168.0.6" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>-->
          <!-- QAS -->
          <add USER="apcommp2" PASSWD="456789" CLIENT="900" SYSID="APQ" LANG="EN" ASHOST="192.168.0.4" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>
          <!--PRD-->
          <!--<add USER="apcommp2" PASSWD="456789" CLIENT="900" SYSID="APP" LANG="EN" ASHOST="192.168.0.12" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>-->
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <!--<globalization culture="en-US" uiCulture="th-TH" />-->
    <globalization culture="en-AU" uiCulture="en-Us" enableClientBasedCulture="true"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" enable="true"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <sessionState timeout="300"/>
    <!--<sessionState mode="InProc" cookieless="true" timeout="30" />-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <!-- DEV -->
    <!--<add name="db_APStockPromotion" connectionString="server=192.168.0.41;database=db_APStockPromotion;uid=sa;password=P@ssw0rd;"/>-->
    <!-- QAS -->
    <add name="db_APStockPromotion" connectionString="server=192.168.0.37;database=db_APStockPromotion;uid=sqllink;password=ap123456;"/>
    <!-- PRD -->
    <!--<add name="db_APStockPromotion" connectionString="server=192.168.0.75;database=db_APStockPromotion;uid=iconuser;password=P@ssw0rd;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="versionno" value="001"/>
    <add key="versiondate" value="2015.07.14"/>
    <add key="Webservice.Username" value="apwsap2"/>
    <add key="Webservice.Password" value="HagCfbkuifg994"/>
    <add key="Webservice.AppCode" value="STOCK"/>
    <add key="Authorize.Provider" value="domain"/>
    <!--<add key="Application.Settings.SAPConnectionName" value="DEV" />-->
    <add key="Application.Settings.UI.Culture" value="en-US"/>
    <add key="Application.Settings.UI.DateFormat" value="dd/MM/yyyy"/>
    <!-- DEV -->
    <add key="SAPExProt_APD" value="\\192.168.0.251\apq\Test"/>
    <!-- PRD -->
    <!--<add key="SAPExProt_APD" value="\\192.168.0.36\apstock"/>-->
    <add key="SAPExProt_Domain" value="WEBSERV2"/>
    <add key="SAPExProt_User" value="interface"/>
    <add key="SAPExProt_Password" value="ap@inter"/>
    <!--<add key="SMTPServer" value="aphubtran01.ap-thai.com"/>-->
    <add key="SMTPServer" value="192.168.0.45"/>
    <add key="SMTPUsername" value="ProjectMgtSystem@ap-thai.com"/>
    <add key="SMTPPassword" value="goalsetting"/>
    <add key="SMTPPort" value="25"/>
    <add key="ProfileName" value="StockEmailProfile"/>
    <add key="GLNo300Cus" value="0006010113"/>
    <add key="GLNo300CusName" value="Production - Others"/>
    <add key="GLNo300Emp" value="0006110090"/>
    <add key="GLNo300EmpName" value="ค่าใช้จ่ายในการพัฒนาองค์กรและบุคคลากร"/>
    <add key="GLNoNormal" value="0006011020"/>
    <add key="GLNoNormalName" value="ค่าใช้จ่ายส่งเสริมการขายโครงการ(WBS)"/>
    <add key="GLNoDamage" value="0001530040"/>
    <add key="GLNoDamageName" value="ตัดสูญเสีย"/>
    <add key="GLNoCredit" value="0001580010"/>
    <add key="GLNoCreditName" value="สินทรัพย์ส่งเสริมการขาย"/>
    <add key="GLNoAPVendor" value="0000001000"/>
    <add key="GLNoAPVendorName" value="บริษัท เอพี (ไทยแลนด์) จำกัด"/>


    <!--UAT URL Login To Intranet -->
    <!--<add key="Application.Settings.LoginPage" value="http://192.168.0.40/APIntranetWeb/Authorize/login?AppUrl=" />-->

    <!--PRD URL Login To Intranet -->
    <add key="Application.Settings.LoginPage" value="http://www.apintranet.com/Authorize/login?AppUrl=" />

  </appSettings>
  <applicationSettings>
    <AP_StockPromotion_V1.Properties.Settings>
      <setting name="AP_StockPromotion_V1_ws_authorize_Authorize" serializeAs="String">
        <value>http://appprod01.ap-crm.com/authorizewebservice/authorize.asmx</value>
      </setting>
    </AP_StockPromotion_V1.Properties.Settings>
  </applicationSettings>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>