<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AP_StockPromotion_V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!-- DEV -->
          <!--<add NAME="DEV" USER="ap00it01" PASSWD="test300" CLIENT="300" SYSID="APD" LANG="EN" ASHOST="192.168.0.6" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600" />-->
          <!-- QAS -->
          <!--<add NAME="DEV" USER="apcommp2" PASSWD="456789" CLIENT="900" SYSID="APQ" LANG="EN" ASHOST="192.168.0.4" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600"/>-->
          <!--PRD-->
          <add USER="apcommp2" PASSWD="456789" CLIENT="900" SYSID="APP" LANG="EN" ASHOST="192.168.0.12" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600" />
          <!--สำหรับ Dubug ฝั่ง sap <add USER="ap00it01" PASSWD="apapap@" CLIENT="900" SYSID="APP" LANG="EN" ASHOST="192.168.0.12" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600" />-->
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <!--<globalization culture="en-US" uiCulture="th-TH" />-->
    <globalization culture="en-AU" uiCulture="en-Us" enableClientBasedCulture="true" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" enable="true" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <sessionState mode="InProc" timeout="300" />
    <!--<sessionState
      mode="InProc"
      cookieless="true"
      timeout="30" />-->
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <connectionStrings>
    <!-- PRD -->
    <!--<add name="db_APStockPromotion" connectionString="server=192.168.0.75;database=db_APStockPromotion;uid=itconsult;password=Itc0nsult;Connection Timeout=300;"/>-->
    <!-- UAT -->
    <add name="db_APStockPromotion" connectionString="server=192.168.0.37;database=db_APStockPromotion;uid=sqllink;password=ap123456;Connection Timeout=300;" />
    <!-- DEV -->
    <!--<add name="db_APStockPromotion" connectionString="server=192.168.0.41;database=db_APStockPromotion;uid=sa;password=P@ssw0rd;Connection Timeout=300;" />-->

    <!--<add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;'"/>-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0;'" />
    
  </connectionStrings>
  <appSettings>
    <add key="versionno" value="001" />
    <add key="versiondate" value="2015.07.14" />
    <add key="Webservice.Username" value="apwsap2" />
    <add key="Webservice.Password" value="HagCfbkuifg994" />
    <add key="Webservice.AppCode" value="STOCK" />
    <add key="Authorize.Provider" value="domain" />
    <!--<add key="Application.Settings.SAPConnectionName" value="DEV" />-->
    <add key="Application.Settings.UI.Culture" value="en-US" />
    <add key="Application.Settings.UI.DateFormat" value="dd/MM/yyyy" />
    <!-- DEV -->
    <add key="SAPExProt_APD" value="\\192.168.0.251\apq\Test" />
    <!-- PRD -->
    <!--<add key="SAPExProt_APD" value="\\192.168.0.36\apstock"/>-->
    <add key="SAPExProt_Domain" value="WEBSERV2" />
    <add key="SAPExProt_User" value="interface" />
    <add key="SAPExProt_Password" value="ap@inter" />
    <!--<add key="SMTPServer" value="aphubtran01.ap-thai.com"/>-->
    <!--<add key="SMTPServer" value="192.168.0.45"/>-->
    <!--<add key="SMTPUsername" value="ProjectMgtSystem@ap-thai.com"/>
    <add key="SMTPPassword" value="goalsetting"/>-->
    <add key="SMTPServer" value="apmail.apthai.com" />
    <add key="SMTPPort" value="25" />
    <add key="ProfileName" value="StockEmailProfile" />
    <add key="GLNo300Cus" value="0006010113" />
    <add key="GLNo300CusName" value="Production - Others" />
    <add key="GLNo300Emp" value="0006110090" />
    <add key="GLNo300EmpName" value="ค่าใช้จ่ายในการพัฒนาองค์กรและบุคคลากร" />
    <add key="GLNoNormal" value="0006011020" />
    <add key="GLNoNormalName" value="ค่าใช้จ่ายส่งเสริมการขายโครงการ(WBS)" />
    <add key="GLNoDamage" value="0001530040" />
    <add key="GLNoDamageName" value="ตัดสูญเสีย" />
    <add key="GLNoCredit" value="0001580010" />
    <add key="GLNoCreditName" value="สินทรัพย์ส่งเสริมการขาย" />
    <add key="GLNoAPVendor" value="0000001000" />
    <add key="GLNoAPVendorName" value="บริษัท เอพี (ไทยแลนด์) จำกัด" />

    <add key="TestSendMail" value="T" />
    <!-- T/F -->
    <add key="DeveloperEmail" value="Thirawuth_s@Apthai.com;" />

    <!--<add key="WebRoot" value="http://192.168.0.152/APSTP"/>-->
    <add key="WebRoot" value="http://CRMStock.apthai.com" />

    <!--UAT URL Login To Intranet -->
    <!--<add key="Application.Settings.LoginPage" value="http://192.168.0.40/APIntranetWeb/Authorize/login?AppUrl="/>-->

    <!--PRD URL Login To Intranet -->
    <add key="Application.Settings.LoginPage" value="http://www.apintranet.com/Authorize/login?AppUrl=" />
    
    <add key="FolderPath" value="../ExcelFileTemp/" />
  
  </appSettings>
  <applicationSettings>
    <AP_StockPromotion_V1.Properties.Settings>
      <setting name="AP_StockPromotion_V1_ws_authorize_Authorize" serializeAs="String">
        <!--Production-->
        <value>http://appprod01.ap-crm.com/authorizewebservice/authorize.asmx</value>
        <!--UAT-->
        <!--<value>http://192.168.0.40/AuthorizeWebService_For_Stock/Authorize.asmx</value>-->
      </setting>
    </AP_StockPromotion_V1.Properties.Settings>
  </applicationSettings>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
